.Display {
    background-color: #FFF;
    flex: 1 1;
}

.display-container {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 417px;
    margin: 32px auto;
    background-color: #00474B;
    border-radius: 15px;

}

@media only screen and (max-width : 375px) {
    .display-container {
        display: flex;
        width: 327px;
        height: 257px;
        margin: 32px auto;
    }
     
}