.App {
  display: flex;
  justify-content: center;
  max-width: 920px;
  height: 481px;
  background-color: #FFF;
  border-radius: 25px;
  margin: 88px auto;
  overflow-x: hidden;
}

.App-logo {
  max-width: 87px;
  height: 54px;
  margin: 20px auto;
}


@media only screen and (max-width : 375px) {
  .App{
    max-width: 375px;
    margin-top: 41px;
    height: 789px;
    flex-direction: column;
  }

  .App-logo {
    margin-bottom: 41px;
  }
}