.App {
  display: flex;
  justify-content: center;
  max-width: 920px;
  height: 481px;
  background-color: #FFF;
  border-radius: 25px;
  margin: 88px auto;
  overflow-x: hidden;
}

.App-logo {
  max-width: 87px;
  height: 54px;
  color: #3D6666;
  margin: 20px auto;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 500;
}
